{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the Pitch Minte Website</title>
    {% endif %}
  </head>

  <body>
    <!-- Content Block -->
  {% block content %} 

    <!-- Navbar block  -->
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

  {% endblock %}

  </body>

</html>
